@font-face {
    font-family: poppins;
    src: url(aset/font/Poppins-Regular.ttf);
}

html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar{
    display: none;
  }

  a{
    color: black;
    text-decoration: none;
  }

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

body{
    font-family: poppins;
    background-color: rgb(240, 240, 240);
}

ul li{
    list-style: none;
}

body nav.navbar{
    font-family: poppins ;
    font-style: bold;
    position: fixed;
    background-color: rgba(240, 240, 240, 0.85);
    --animate-delay: 0.5s;
    width: 100%;
}

nav .container button{
    outline: none;
}

nav .logo a img{
    width: 70px;
    height: 70px;
}

nav ul{
    display: flex;
    justify-content: center;
}

nav ul li {
    position: relative;
    min-width: 20px;
    margin-left: 15px;
    font-weight: bold;
    transition: all 0.5s;
}

nav ul li::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; /* Atur jarak underline dari teks */
    width: 0;
    height: 3px; /* Ketebalan underline */
    background-color: green; /* Warna underline */
    transition: width 0.5s;
}

nav ul li:hover::after {
    width: 100%;
}

.nav-dropdown{
    display: none;
}

@media (max-width: 480px) {
    .nav-normal ul li{
        display: none;
    }
    .nav-dropdown{
        display: block;
    }
}

/* Container1 */

.container1 {
    width: 100%;
    height: 105vh;
    display: flex;
    align-items: end;
    flex-wrap: wrap;
    position: relative;
    --animate-duration: 2s;
}

.container1 video {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 0 0 20px 20px;
    z-index: 1;
}

.container1::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0) 65%);
    border-radius: 0 0 20px 20px;
    z-index: 2;
}

.overlay-text {
    position: relative;
    z-index: 3; /* Pastikan ini lebih tinggi dari yang lain */
    color: white;
    padding: 10vh 5vw;
    min-height: 45vh;
    max-width: 65vw;
    margin-bottom: 5vh;
    font-family: poppins;
}
@media (max-width: 480px) {
    .overlay-text {
        max-width: 80vw;
        margin-bottom: 4;
    }

    .container1 .overlay-text h1{
        font-size: 4rem;
    }
    .container1 .overlay-text p{
        font-size: 1.6rem;
    }
}

.overlay-text h1{
    background-color: transparent;
    text-align: start;
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: 5rem;
    --animate-duration: 1.5s;
    --animate-delay: 1s;
}
.overlay-text p{
    background-color: transparent;
    text-align: start;
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-size: 2rem;
    color: #d6d9d5;
    --animate-duration: 1.5s;
    --animate-delay: 1.25s;
}



/* Logo dan Card */

.container2 {
    position: relative;
    background-color: #16502D;
    padding: 10rem 0;
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container2 .logo {
    position: absolute;
    top :-5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #D6D9D5;
    padding: 20px;
    border-radius: 20px;
    min-width: 70%;
    max-width: 1000px;
    margin: 0 25px 50px;
}

.logo-item {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px;
}

.logo-item img {
    
    height: 70px;
    width: auto;
    display: block;
    margin: 0 auto;
    
}

.logo-item p {
    flex: 1;
    margin-top: 10px;
    font-size: large;
    font-weight: bold;
    color: #000;
}

@media (max-width: 480px) {
    .container2{
        margin-top: 220px;
        padding-top: 150px;
        max-height: none;
    }

    .container2 .logo{
        top :-10rem;
    }

    .logo-item img {
        height: 50px;
        
    }

    .logo-item p {
        font-size: small;
    }
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
}

.card {
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.card-content h3 {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.card-content p {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

.card-content a{
    width: 100%;
}

.card-content button {
    background-color: #16502D;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s;
    width: 100%;
}

.card-content button:hover {
    background-color: #45a049;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 80%;
    }
}

@media (max-width: 480px) {
    .card {
        width: 90%;
    }

    .card img {
        height: 150px;
    }

    .card-content h3 {
        font-size: 16px;
    }

    .card-content p {
        font-size: 12px;
    }

    .card-content button {
        padding: 8px 12px;
        font-size: 12px;
    }
}


/* Container 3 */

.container3 {
    margin-top: 50px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 .content-container {
    padding: 20px;
    display: flex;
    max-width: 1000px;
    background-color: #e0e0e0;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensure content-container takes full width */
}

.container3 .content-container .img{
    border-radius: 20px;
    background-image: url(aset/img/conten\ 1.png);
    background-size: cover;
    background-position: center;
    flex: 0.75;
    width: 250px;
    height: auto;
    scale: 1.2;
}

.container3 .content-container p{
    flex: 1;
    padding: 20px 20px 20px 65px;
}

/* Container 4 */
.container4{
    margin-top: 50px;
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container4 .content-container {
    padding: 20px;
    display: flex;
    max-width: 1000px;
    background-color: #16502D;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ensure content-container takes full width */
}

.container4 .content-container .img{
    border-radius: 20px;
    background-image: url(aset/img/conten\ 3.jpg);
    background-size: cover;
    background-position: center;
    flex: 0.75;
    width: 250px;
    height: auto;
    scale: 1.2;
}

.container4 .content-container p{
    flex: 1;
    color: white;
    padding: 20px 65px 20px 20px ;
}

.container5 .content-container .img{
    background-image: url(aset/img/conten\ 2.jpg);
}

@media (max-width: 480px) {
    .content-container{
        flex-direction: column;
    }

    .container3 .content-container .img, .container4 .content-container .img{
        flex: none;
        width: auto;
        height: 200px;
        margin-bottom: 20px;
    }

    .container3 .content-container p, .container4 .content-container p{
        padding: 20px ;
        text-align: center;
    }

    .container4 .content-container{
        flex-direction: column-reverse;
    }
}


/* Card Scroll */

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.horizontal-scroll {
    width: 100%;
    overflow: hidden; /* Sembunyikan scrollbar */
    position: relative;
}

.container6 {
    display: flex;
    gap: 0; /* Hilangkan gap di antara card */
    width: calc(200%); /* Ubah sesuai dengan lebar konten yang digandakan */
    animation: scrollLeft 60s linear infinite;
    will-change: transform; /* Optimasi performa */
}

.item {
    width: 350px;
    height: 400px;
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 20px;
    margin-right: 2rem; /* Tambahkan margin langsung ke item jika ingin tetap ada spasi */
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0; /* Mencegah card menyusut */
}

.item p {
    text-align: center;
}

.item .profil {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.item .profil img {
    height: 75px;
    width: auto;
    border-radius: 50%;
}

.title {
    margin: 100px 0 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    text-align: center;
    align-items: center;
    margin: 150px 0 100px;
    padding: 20px;
    padding-right: 0;
    border-radius: 20px;
    background-color: #D6D9D5;
}

.green {
    background-color: #16502D;
    color: white;
}

.petani {
    padding: 20px;
    border-radius: 20px;
}

@keyframes scrollLeft {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%); /* Sesuaikan dengan lebar container */
    }
}

/* Hover effect untuk berhenti animasi */
.horizontal-scroll:hover .container6 {
    animation-play-state: paused;
}

/* Team */

@media (max-width: 480px) {
    h1 {
        margin: 100px 20px 50px;
    }
    h1 .green{
        background-color: transparent;
        color: #000;
    }
}

.team-section {
    text-align: center;
    padding: 50px 0;
    margin-top: 100px;
}

.team-section h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.team-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 75px;
    gap: 4rem;
}

.team-container a{
    color: black;
    transition: all 0.5s;

}

.team-container a:hover{
    color: #16502D;
    text-decoration: none;
}

.team-member {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transition: all 0.5s;
}

.team-member:hover img{
    transform: scale(1.1);
}

.team-member img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
    transition: all 0.5s;
}

.team-info h3 {
    font-size: 1.2rem;
    margin: 0;
}

.team-info p {
    margin: 5px 0;
    font-size: 0.9rem;
}


/* Footer */

footer {
    background-color: #c3d2c4;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 30px;
}

@media (max-width: 480px) {
    .footer-container{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
}

.footer-item{
    flex: 1;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.footer-item h3 {
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.footer-item a{
    display: flex;
    align-items: center;
    flex-direction: column;

}

.footer-item p.moto{
    background-color: #D6D9D5;
    border-radius: 10px;
    margin: 5px 0;
    font-size: 1rem;
    padding: 10px;
}

.footer-item img {
    width: 150px;
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    background-color: #16502D;
    padding: 10px 0;
}

.footer-bottom p {
    margin: 0;
    font-size: 0.9rem;
    color: #ddd;
}


a.sosmed{
    width: 70%;
    margin-bottom: 10px;
    color: #000;
}
.sosmed{
    background-color: #D6D9D5;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
}

.sosmed img{
    width: 28px;
    height: auto;
    margin: 0;
    position: absolute;
    left: 10px;
}

.sosmed p{
    margin: 5px 0;
    font-size: 1rem;
}

.ig.sosmed .img_color, .fb.sosmed .img_color, .twitter.sosmed .img_color, .yt.sosmed .img_color{
    opacity: 0;
    transition: all 0.25s;
}

.ig.sosmed:hover .img_color{
    opacity: 100;
}
.fb.sosmed:hover .img_color{
    opacity: 100;
}
.twitter.sosmed:hover .img_color{
    opacity: 100;
}
.yt.sosmed:hover .img_color{
    opacity: 100;
}



/* Contact */

.contact {
    background-image: url('aset/img/bg2.webp'); /* Pastikan jalur benar */
    background-position: center;
    background-size: cover;
    display: flex;
    position: relative;
    min-height: 100vh;
    padding: 20vh 15vw;
    z-index: 1; /* Konten berada di atas layer blur */
    color: white; /* Pastikan teks dapat terlihat */
}

.contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Warna hitam semi-transparan */
    backdrop-filter: blur(8px); /* Efek blur */
    z-index: -1; /* Letakkan di belakang konten */
}

 .contact_item{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;    
    background-color: rgba(22, 80, 45, 0.85);
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    --animate-duration: 1s;
    --animate-delay:1.25s;
 }

 .items{
    flex: 1;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    padding: 2.5rem;
    height: 100%;
    width: 100%;
    
 }

 .detail_item{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: row;
    height: 100%;
    padding: 5px;
 }

 .detail_item p{
    display:flex ;
    flex-wrap: wrap;
    text-align: left;
    padding: 10px;
    font-size: 1rem;
    color: white;
 }

 .text1{
    --animate-delay: 3s;
 }
 .text2{
    --animate-delay: 3.25s;
 }
 .text3{
    --animate-delay: 3.50s;
 }

 .icon{
    padding: 1rem;
    display: flex;
    position: absolute;
    width: 5rem;
    height: auto;
    background-color: white;
    border-radius: 50%;
    left: -5.5rem;
    animation-duration: 1s;
 }
 .icon img{
    flex: 1;
    width: 100%;
    height: auto;
    
 }

 .icon1{
    --animate-delay: 2.25s;
 }
 .location:hover .icon1 img{
    background-image: url(aset/img/location_color.png);
    background-size: cover;
    background-position: center;
    z-index: -1; /* Tetap di belakang konten */
 }
 .location:hover .icon1{
    background-color: #16502D;
 }

 .icon2{
    --animate-delay: 2.50s;
 }
 .mail:hover .icon2 img{
    background-image: url(aset/img/mail_color.png);
    background-size: cover;
    background-position: center;
    z-index: -1; /* Tetap di belakang konten */
 }
 .mail:hover .icon2{
    background-color: #16502D;
 }

 .icon3{
    --animate-delay: 2.75s;
 }
 .phone:hover .icon3 img{
    background-image: url(aset/img/phone_color.png);
    background-size: cover;
    background-position: center;
    z-index: -1; /* Tetap di belakang konten */
 }
 .phone:hover .icon{
    background-color: #16502D;
 }

 .map{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
 }

 .map iframe{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    --animate-delay: 4.50s;
    --animate-duration: 1.50s;

 }

 @media (max-width: 480px) {
    .contact .contact_item{
        flex-direction: column;
    }
 }